@import '@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '@fortawesome/fontawesome-free/scss/solid.scss';
@import 'bootstrap/scss/bootstrap';

header{
    background-color: white;
}

.container{
    max-width: 80%;
  }

a{
    text-decoration: none;
}